.tab-group {
    .tab-content {
        background-color: $bg-booking;
        min-height: calc(100svh - $height-top-sm - $height-footer-sm - $height-tab-type - $height-status-type);
        &.hidden_status {
            min-height: calc(100svh - $height-top-sm - $height-footer-sm - $height-tab-type);
        }
    }
    .form-calendar {
        .el-calendar-table td {
            border: none;
        }
        .el-calendar-table .el-calendar-day {
            height: 80px !important;
            padding: unset !important;
        }
    }
}
.section-booking {
    .form-calendar {
        margin-top: 0px;
        padding-bottom: 30px;
    }
}
.section-main {
    .form-search {
        padding: 20px;
    }
    .group-input {
        margin-top: 10px;
        label.title-input {
            display: flex;
            align-items: center;
        }
    }
    .title-date {
        padding-top: 20px;
        div {
            padding: 5px 20px;
            text-align: center;
            background-color: #969696;
        }
    }
}
.section-book {
    .show-more a.btnMore {
        background: $bg-booking;
    }
    .calendar-time {
        max-height: 300px;
        overflow: auto;
        padding-top: 40px;
        table {
            width: 100%;
            th {
                width: 55px;
                padding: 15px 10px 15px 0px;
                transform: translateY(-50%);
                font-weight: 300;
            }
            tr td {
                width: 50%;
                text-align: center;
                border-top: 1px solid #474747;
                color: #2A2A2A;
                
                .status {
                    border-radius: 5px;
                    padding: 10px;
                }
                .statusCleaning {
                    background-color: #B4B4B4;
                    cursor: not-allowed;
                }
                .statusChoose {
                    background-color: white;
                    margin: 0px 7px 0px 0px;
                    cursor: pointer;
                }
                .statusSelected {
                    background-color: #3696C8;
                    color: white;
                }
                &:last-child td {
                    display: none;
                }
            }
    
        }
        table tr td:nth-child(n+5) {
            display: none;
        }
    }
    .custom-header-trip {
        justify-content: center !important;
        background-color: #969696;
        font-size: 14px;
    }
    .lst_booked {
        padding: 20px;
        .lst_item {
            border-top: 1px solid $border-main;
            padding: 20px 0px;
            cursor: pointer;
            &:last-child {
                border-bottom: 1px solid $border-main;
            }
            button {
                background-color: red;
                border-radius: 5px;
                font-size: 14px;
                padding: 2px 7px;
                margin-right: 10px;
            }
            .item_calendar {
                margin-top: 10px;
            }
            button.status_finish {
                &.isStay {
                    background: $bg-stay;
                }
                &.isFacility {
                    background: $bg-facility;
                }
            }
        }
    }
}
.text-note, .calendar-time, .form-book {
    padding: 20px;
    .btn_inforRoom, .btn_typeRoom, .btnChooseTime {
        border-radius: 5px;
        min-width: 90px;
        padding: 7px 10px;
        background-color: $bg-notactive;
    }
    button.active {
        background-color: $bg-stay;
    }
    .btn_typeRoom {
        min-width: 250px;
    }
    h5.title-date {
        font-size: 16px;
        padding: 10px 0px;
    }
    .btnChooseTime {
        width: 100%;
    }
}