#Header {
    border-bottom: 1px solid #646464;
   .nav-link {
        padding: 10px 0px;
        border-bottom: 1px solid #646464;
        display: block;
        a {
            font-size: 14px;
        }
        &:last-child {
            border-bottom: none;
        }
   }
   .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .dropdown_menu {
        max-height: calc(100vh - 56px);
        overflow: auto;
    }
}
