.wrapper-notify {
    z-index: 1050;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: hidden;
    .content-notify {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100px;
        background: white;
        max-width: 500px;
        width: 90%;
        border-radius: 20px;
        text-align: center;
        padding: 25px 0px;
        transition: 0.3s;
        animation: showMessage 0.5s;
        z-index: 1050;
        
        .text-notify {
            padding: 0px 20px 25px 20px;
            color: black;
        }
        .group-button {
            border-top: 1px solid #c8c8c8;
            padding: 25px 20px 0px 20px;
            .button-confirm {
                color: red;
                font-weight: 600;
                letter-spacing: 3px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 18px;
            }
        }
    }
}
.overlay-notify {
    height: 100vh;
    position: absolute;
    background: black;
    width: 100%;
    opacity: 0.5;
    z-index: 1024;
    top: 0px;
}
@keyframes showMessage {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}