body, html {
    font-size: 16px;
    color: $white;
}
svg {
    font-size: 16px;
}
a {
    cursor: pointer;
}
#app {
    position: relative;
}
.text-error {
    color: red;
    font-size: 14px;
}
.line {
    border-top: 1px solid $border-main;
    margin: 0 20px;
}
.section-main {
    margin-top: $height-top-sm;
    background-color: $bg-main;
    height: calc(100svh - $height-top-sm - $height-footer-sm);
    overflow: auto;
    .content-main {
        padding-bottom: 30px;
    }
    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}
.group-input {
    margin-top: 12px;
    .title {
        vertical-align: middle;
        display: flex;
        align-items: center;
    }
    input, select {
        width: 100%;
        border-radius: 5px;
        height: 45px;
        outline: none;
        color: $black;
        padding: 10px;
        text-align-last: center;
        -moz-text-align-last: center;
    }
    input[type=checkbox] {
        height: 15px;
        width: 15px;
        margin-right: 8px;
    }
    .el-input {
        width: 100%;
        height: 42px;
    }
    .el-input__inner {
        font-size: 16px;
        text-align: center;
    }
}
.group-button {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    button {
        background-color: $bg-btn-primary;
        border-radius: 5px;
        padding: 10px;
        min-width: 200px;
        
    }
}
.group-checkbox {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    padding-right: 10px;
    input[type=checkbox] {
        margin-right: 5px;
        height: 0px;
        width: 0px;
        display: none;
        &:checked~ .custome-checkbox {
            background: #3796c8;

        }
    }
    .custome-checkbox {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        background: white;
        transform: translateY(-50%);
        border-radius: 5px;
    }
}
.custome_date {
    .el-input {
      width: 100%;
      height: 42px;
    }
    .el-input__inner {
      font-size: 16px;
      text-align: center;
    }
}
.show-more {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    position: relative;
    &::before {
        border-bottom: 1px solid $border-main;
        width: 100%;
        content: '';
        height: 1px;
        top: calc(50% + 5px);
        position: absolute;
        left: 0px;
    }
    &::after {
        content: '';
    }
    a.btnMore {
        z-index: 100;
        background: $black;
        color: $border-main;
        padding: 0px 15px;
        font-size: 14px;
    }
}
.form-calendar {
    margin-top: 20px;
    .custome-header-calendar {
        background-color: $bg-main;
    }
    .custom-header-btn {
        border: none;
        background: transparent;
        color: white;
        font-size: 20px;
        margin: 0px 10px;
    }
    .el-calendar__header {
        color: black
    }
    .el-calendar {
        thead {
            display: none;
        }
    }
    .el-calendar__body {
        color: black;
        padding: 0px;
        .el-calendar-table .el-calendar-day {
            height: 65px !important;
            &:has(> div[disabled=true]) {
                color: #a8abb2;
                cursor:not-allowed;
            }
        }
    }
    .el-calendar__header {
        padding: 0px;
        background-color: $border-main;
    }
    .custom-header {
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: none;
        height: 50px;
        font-size: 20px;
    }
    .custome-header-calendar thead {
        text-transform: uppercase;
    }
    .choosed_date {
        background: $bg-trip;
        height: 50%;
    }
    .booking-stay, .booking-facility, .booking-trip {
        cursor: pointer;
        font-size: 11px;
        color: $white;
    }
    .booking-stay {
        background-color: $bg-stay;
    }
    .booking-facility {
        background-color: $bg-facility;
    }
    .booking-trip {
        background-color: $bg-trip;
    }
    .el-calendar-day {
        text-align: center;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #15150b70;

}
.el-dialog {
    min-width: 340px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --el-dialog-margin-top: 0px;
    margin: 0px;
    width: 70%;
}
.btn_showPopupFriend {
    background-color: $bg-btn-primary;
    border-radius: 5px;
    min-width: 90px;
    padding: 7px 10px;
}
.add-guest {
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
    color: $bg-trip;
    a {
        cursor: pointer;
    }
}