$white: #fff;
//backgroud
$bg-main: #000;
$bg-trip: #3696c8;
$bg-checkin: #c70013;
$bg-stay: #c85a8d;
$bg-facility: #509646;

//button background
$bg-btn-primary: #c70013;

//color
$text-trip: #3696c8;
$text-stay: #c85a8d;
$text-facility: #509646;

//border
$border-main: #646464;
//font size
//height
$height-top-sm: 57px;
$height-footer-sm: 69px;