$white: #fff;
$black: #000;
//backgroud
$bg-main: #000;
$bg-trip: #3696c8;
$bg-checkin: #c70013;
$bg-stay: #c85a8d;
$bg-facility: #509646;
$bg-notactive: #464646;
$bg-booking: #323232;

//button background
$bg-btn-primary: #c70013;
$bg-btn-disable: #323232;

//color
$text-trip: #3696c8;
$text-stay: #c85a8d;
$text-facility: #509646;
$text-main: #2D2D2D;

//border
$border-main: #646464;
$border-main-light: #bebebe;
//font size
//height
$height-top-sm: 57px;
$height-footer-sm: 69px;
$height-tab-type: 82px;
$height-status-type: 44px;